{
    "openapi": "3.0.0",
    "info": {
        "title": "Xero Assets API",
        "description": "The Assets API exposes fixed asset related functions of the Xero Accounting application and can be used for a variety of purposes such as creating assets, retrieving asset valuations etc.",
        "termsOfService": "https://developer.xero.com/xero-developer-platform-terms-conditions/",
        "contact": {
            "name": "Xero Platform Team",
            "url": "https://developer.xero.com",
            "email": "api@xero.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/XeroAPI/Xero-OpenAPI/blob/master/LICENSE"
        },
        "version": "19.0.0"
    },
    "servers": [
        {
            "url": "https://api.xero.com/assets.xro/1.0",
            "description": "Xero API servers"
        }
    ],
    "paths": {
        "/Assets": {
            "get": {
                "tags": [
                    "Asset"
                ],
                "summary": "searches fixed asset",
                "description": "By passing in the appropriate options, you can search for available fixed asset in the system",
                "operationId": "listAssets",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Required when retrieving a collection of assets. See Asset Status Codes",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/AssetStatusQueryParam"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Results are paged. This specifies which page of the results to return. The default page is 1",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of records returned per page. By default the number of records returned is 10",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        },
                        "x-snake": "page_size"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "Requests can be ordered by AssetType, AssetName, AssetNumber, PurchaseDate and PurchasePrice. If the asset status is DISPOSED it also allows DisposalDate and DisposalPrice",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "AssetName",
                            "enum": [
                                "AssetType",
                                "AssetName",
                                "AssetNumber",
                                "PurchaseDate",
                                "PurchasePrice",
                                "DisposalDate",
                                "DisposalPrice"
                            ]
                        },
                        "x-snake": "order_by"
                    },
                    {
                        "name": "sortDirection",
                        "in": "query",
                        "description": "ASC or DESC",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "ASC",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        },
                        "x-snake": "sort_direction"
                    },
                    {
                        "name": "filterBy",
                        "in": "query",
                        "description": "A string that can be used to filter the list to only return assets containing the text. Checks it against the AssetName, AssetNumber, Description and AssetTypeName fields",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "Company Car"
                        },
                        "x-snake": "filter_by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Assets"
                                },
                                "example": {
                                    "pagination": {
                                        "page": 1,
                                        "pageSize": 10,
                                        "pageCount": 2,
                                        "itemCount": 11,
                                        "links": {
                                            "first": {
                                                "href": "http://asset.favorit.xero.com/v1/assets?status=DRAFT&page=1"
                                            },
                                            "next": {
                                                "href": "http://asset.favorit.xero.com/v1/assets?status=DRAFT&page=2"
                                            },
                                            "last": {
                                                "href": "http://asset.favorit.xero.com/v1/assets?status=DRAFT&page=2"
                                            }
                                        }
                                    },
                                    "items": [
                                        {
                                            "assetId": "68f17094-af97-4f1b-b36b-013b45b6ad3c",
                                            "assetName": "Computer47822",
                                            "assetNumber": "123478074",
                                            "purchaseDate": "2020-01-01T00:00:00",
                                            "purchasePrice": 100.0,
                                            "disposalPrice": 0.0,
                                            "assetStatus": "Draft",
                                            "trackingItems": [],
                                            "bookDepreciationSetting": {
                                                "depreciableObjectId": "68f17094-af97-4f1b-b36b-013b45b6ad3c",
                                                "depreciableObjectType": "Asset",
                                                "bookEffectiveDateOfChangeId": "5da77739-7f22-4109-b0a0-67480fb89af0",
                                                "depreciationMethod": "StraightLine",
                                                "averagingMethod": "ActualDays",
                                                "depreciationRate": 0.5,
                                                "depreciationCalculationMethod": "None"
                                            },
                                            "bookDepreciationDetail": {
                                                "depreciationStartDate": "2020-01-02T00:00:00",
                                                "priorAccumDepreciationAmount": 0.0,
                                                "currentAccumDepreciationAmount": 0.0,
                                                "currentCapitalGain": 0.0,
                                                "currentGainLoss": 0.0
                                            },
                                            "taxDepreciationSettings": [],
                                            "taxDepreciationDetails": [],
                                            "canRollback": true,
                                            "accountingBookValue": 100.0,
                                            "taxValues": [],
                                            "isDeleteEnabledForDate": false
                                        },
                                        {
                                            "assetId": "52ea3adf-f04a-4577-8fd2-43c52a256bd5",
                                            "assetName": "Computer4148",
                                            "assetNumber": "123466620",
                                            "purchaseDate": "2020-01-01T00:00:00",
                                            "purchasePrice": 100.0,
                                            "disposalPrice": 0.0,
                                            "assetStatus": "Draft",
                                            "trackingItems": [],
                                            "bookDepreciationSetting": {
                                                "depreciableObjectId": "52ea3adf-f04a-4577-8fd2-43c52a256bd5",
                                                "depreciableObjectType": "Asset",
                                                "bookEffectiveDateOfChangeId": "c0d5280f-28b6-4329-b5b7-36e08c662010",
                                                "depreciationMethod": "StraightLine",
                                                "averagingMethod": "ActualDays",
                                                "depreciationRate": 0.5,
                                                "depreciationCalculationMethod": "None"
                                            },
                                            "bookDepreciationDetail": {
                                                "depreciationStartDate": "2020-01-02T00:00:00",
                                                "priorAccumDepreciationAmount": 0.0,
                                                "currentAccumDepreciationAmount": 0.0,
                                                "currentCapitalGain": 0.0,
                                                "currentGainLoss": 0.0
                                            },
                                            "taxDepreciationSettings": [],
                                            "taxDepreciationDetails": [],
                                            "canRollback": true,
                                            "accountingBookValue": 100.0,
                                            "taxValues": [],
                                            "isDeleteEnabledForDate": false
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "assets",
                            "assets.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Asset"
                ],
                "summary": "adds a fixed asset",
                "description": "Adds an asset to the system",
                "operationId": "createAsset",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idempotencyKey"
                    }
                ],
                "requestBody": {
                    "description": "Fixed asset you are creating",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Asset"
                            },
                            "example": {
                                "assetName": "Computer74863",
                                "assetNumber": "123477544",
                                "purchaseDate": "2020-01-01",
                                "purchasePrice": 100.0,
                                "disposalPrice": 23.23,
                                "assetStatus": "Draft",
                                "bookDepreciationSetting": {
                                    "depreciationMethod": "StraightLine",
                                    "averagingMethod": "ActualDays",
                                    "depreciationRate": 0.5,
                                    "depreciationCalculationMethod": "None"
                                },
                                "bookDepreciationDetail": {
                                    "currentCapitalGain": 5.32,
                                    "currentGainLoss": 3.88,
                                    "depreciationStartDate": "2020-01-02",
                                    "costLimit": 100.0,
                                    "currentAccumDepreciationAmount": 2.25
                                },
                                "AccountingBookValue": 99.5
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "return single object - create new asset",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Asset"
                                },
                                "example": {
                                    "assetId": "2257c64a-77ca-444c-a5ea-fa9a588c7039",
                                    "assetName": "Computer74863",
                                    "assetNumber": "123477544",
                                    "purchaseDate": "2020-01-01T00:00:00",
                                    "purchasePrice": 100.0,
                                    "disposalPrice": 23.23,
                                    "assetStatus": "Draft",
                                    "trackingItems": [],
                                    "bookDepreciationSetting": {
                                        "depreciableObjectId": "2257c64a-77ca-444c-a5ea-fa9a588c7039",
                                        "depreciableObjectType": "Asset",
                                        "bookEffectiveDateOfChangeId": "b58a2ace-1213-4681-9f11-2e30f57b5b8c",
                                        "depreciationMethod": "StraightLine",
                                        "averagingMethod": "ActualDays",
                                        "depreciationRate": 0.5,
                                        "depreciationCalculationMethod": "None"
                                    },
                                    "bookDepreciationDetail": {
                                        "depreciationStartDate": "2020-01-02T00:00:00",
                                        "priorAccumDepreciationAmount": 0.0,
                                        "currentAccumDepreciationAmount": 0.0,
                                        "currentCapitalGain": 0.0,
                                        "currentGainLoss": 0.0
                                    },
                                    "taxDepreciationSettings": [],
                                    "taxDepreciationDetails": [],
                                    "canRollback": true,
                                    "accountingBookValue": 76.77,
                                    "taxValues": [],
                                    "isDeleteEnabledForDate": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid input, object invalid",
                        "content": {
                            "application/json": {
                                "example": {
                                    "resourceValidationErrors": [],
                                    "fieldValidationErrors": [
                                        {
                                            "fieldName": "BookDepreciationSetting.DepreciationRate",
                                            "valueProvided": "",
                                            "localisedMessage": "Can''t have both Depreciation Rate and Effective Life",
                                            "type": "http://common.service.xero.com/errors/validation/field",
                                            "title": "Validation Error",
                                            "detail": "Can''t have both Depreciation Rate and Effective Life"
                                        }
                                    ],
                                    "type": "http://common.service.xero.com/errors/validation",
                                    "title": "The resource update failed validation.",
                                    "detail": "Validation Errors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "assets"
                        ]
                    }
                ],
                "x-hasAssetsValidationError": true,
                "x-example": [
                    {
                        "is_object": true,
                        "key": "asset",
                        "keyPascal": "Asset"
                    },
                    {
                        "key": "assetname",
                        "keyPascal": "assetName",
                        "keySnake": "asset_name",
                        "csharp": "AssetName",
                        "default": "Other Computer",
                        "object": "asset"
                    },
                    {
                        "key": "assetnumber",
                        "keyPascal": "assetNumber",
                        "keySnake": "asset_number",
                        "csharp": "AssetNumber",
                        "default": "FA-00210",
                        "object": "asset"
                    },
                    {
                        "is_last": true,
                        "nonString": true,
                        "key": "status",
                        "keyPascal": "Status",
                        "default": "Draft",
                        "php": "XeroAPI\\XeroPHP\\Models\\Asset\\AssetStatus::Draft",
                        "node": "Asset.StatusEnum.DRAFT",
                        "ruby": "XeroRuby::Asset::AssetStatus::DRAFT",
                        "python_string": "DRAFT",
                        "java": "com.xero.models.assets.AssetStatus.DRAFT",
                        "csharp": "AssetStatus.Draft",
                        "object": "asset"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Assets/{id}": {
            "get": {
                "tags": [
                    "Asset"
                ],
                "summary": "Retrieves fixed asset by id",
                "description": "By passing in the appropriate asset id, you can search for\na specific fixed asset in the system\n",
                "operationId": "getAsset",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "fixed asset id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Asset"
                                },
                                "example": {
                                    "assetId": "68f17094-af97-4f1b-b36b-013b45b6ad3c",
                                    "assetName": "Computer47822",
                                    "assetNumber": "123478074",
                                    "purchaseDate": "2020-01-01T00:00:00",
                                    "purchasePrice": 100.0,
                                    "disposalPrice": 23.0,
                                    "assetStatus": "Draft",
                                    "trackingItems": [],
                                    "bookDepreciationSetting": {
                                        "depreciableObjectId": "68f17094-af97-4f1b-b36b-013b45b6ad3c",
                                        "depreciableObjectType": "Asset",
                                        "bookEffectiveDateOfChangeId": "5da77739-7f22-4109-b0a0-67480fb89af0",
                                        "depreciationMethod": "StraightLine",
                                        "averagingMethod": "ActualDays",
                                        "depreciationRate": 0.5,
                                        "depreciationCalculationMethod": "None"
                                    },
                                    "bookDepreciationDetail": {
                                        "depreciationStartDate": "2020-01-02T00:00:00",
                                        "priorAccumDepreciationAmount": 0.0,
                                        "currentAccumDepreciationAmount": 0.0,
                                        "currentCapitalGain": 0.0,
                                        "currentGainLoss": 0.0
                                    },
                                    "taxDepreciationSettings": [],
                                    "taxDepreciationDetails": [],
                                    "canRollback": true,
                                    "metaData": {
                                        "bookDepreciationDetailsCanChange": true,
                                        "taxDepreciationDetailsCanChange": true
                                    },
                                    "accountingBookValue": 77.0,
                                    "taxValues": [],
                                    "isDeleteEnabledForDate": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "assets",
                            "assets.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/AssetTypes": {
            "get": {
                "tags": [
                    "Asset"
                ],
                "summary": "searches fixed asset types",
                "description": "By passing in the appropriate options, you can search for available fixed asset types in the system",
                "operationId": "listAssetTypes",
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AssetType"
                                    }
                                },
                                "example": [
                                    {
                                        "assetTypeId": "710255c6-d2ed-4463-b992-06c8685add5e",
                                        "assetTypeName": "Computer Equipment",
                                        "fixedAssetAccountId": "37c35de7-8df0-44bf-8e7c-f1f67cf6a278",
                                        "depreciationExpenseAccountId": "0fbd1820-9dd0-454a-9515-6ec076a84cf7",
                                        "accumulatedDepreciationAccountId": "512eac06-6894-47cd-b421-673b4ca2693a",
                                        "bookDepreciationSetting": {
                                            "depreciableObjectId": "710255c6-d2ed-4463-b992-06c8685add5e",
                                            "depreciableObjectType": "AssetType",
                                            "bookEffectiveDateOfChangeId": "39b9c2e9-62b1-4efc-ab75-fa9152ffaa5f",
                                            "depreciationMethod": "StraightLine",
                                            "averagingMethod": "FullMonth",
                                            "depreciationRate": 25.0,
                                            "depreciationCalculationMethod": "None"
                                        },
                                        "taxDepreciationSettings": [],
                                        "locks": 0,
                                        "lockPrivateUseAccount": false
                                    },
                                    {
                                        "assetTypeId": "1a398a67-9d9d-4783-8689-14a8efce89d9",
                                        "assetTypeName": "Machinery97704",
                                        "fixedAssetAccountId": "5c93f577-c48f-44cd-8593-01489e319c2b",
                                        "depreciationExpenseAccountId": "adc14376-c960-43f0-b7f3-4063e5098039",
                                        "accumulatedDepreciationAccountId": "9195cadd-8645-41e6-9f67-7bcd421defe8",
                                        "bookDepreciationSetting": {
                                            "depreciableObjectId": "1a398a67-9d9d-4783-8689-14a8efce89d9",
                                            "depreciableObjectType": "AssetType",
                                            "bookEffectiveDateOfChangeId": "6d09a96d-7768-4f28-95e8-c9ac870fe36e",
                                            "depreciationMethod": "DiminishingValue100",
                                            "averagingMethod": "ActualDays",
                                            "depreciationRate": 40.0,
                                            "depreciationCalculationMethod": "None"
                                        },
                                        "taxDepreciationSettings": [],
                                        "locks": 0,
                                        "lockPrivateUseAccount": false
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "assets",
                            "assets.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Asset"
                ],
                "summary": "adds a fixed asset type",
                "description": "Adds an fixed asset type to the system",
                "operationId": "createAssetType",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idempotencyKey"
                    }
                ],
                "requestBody": {
                    "description": "Asset type to add",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetType"
                            },
                            "example": {
                                "assetTypeName": "Machinery11004",
                                "fixedAssetAccountId": "3d8d063a-c148-4bb8-8b3c-a5e2ad3b1e82",
                                "depreciationExpenseAccountId": "d1602f69-f900-4616-8d34-90af393fa368",
                                "accumulatedDepreciationAccountId": "9195cadd-8645-41e6-9f67-7bcd421defe8",
                                "bookDepreciationSetting": {
                                    "depreciationMethod": "DiminishingValue100",
                                    "averagingMethod": "ActualDays",
                                    "depreciationRate": 0.05,
                                    "depreciationCalculationMethod": "None"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "results single object -  created fixed type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetType"
                                },
                                "example": {
                                    "assetTypeId": "85509b5d-308e-420d-9532-b85105058916",
                                    "assetTypeName": "Machinery11004",
                                    "fixedAssetAccountId": "3d8d063a-c148-4bb8-8b3c-a5e2ad3b1e82",
                                    "depreciationExpenseAccountId": "d1602f69-f900-4616-8d34-90af393fa368",
                                    "accumulatedDepreciationAccountId": "9195cadd-8645-41e6-9f67-7bcd421defe8",
                                    "bookDepreciationSetting": {
                                        "depreciableObjectId": "00000000-0000-0000-0000-000000000000",
                                        "depreciableObjectType": "None",
                                        "depreciationMethod": "DiminishingValue100",
                                        "averagingMethod": "ActualDays",
                                        "depreciationRate": 0.05,
                                        "depreciationCalculationMethod": "None"
                                    },
                                    "locks": 0,
                                    "lockPrivateUseAccount": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid input, object invalid",
                        "content": {
                            "application/json": {
                                "example": {
                                    "resourceValidationErrors": [],
                                    "fieldValidationErrors": [
                                        {
                                            "fieldName": "FixedAssetAccountId",
                                            "valueProvided": "",
                                            "localisedMessage": "Fixed Asset Account Id is invalid",
                                            "type": "http://common.service.xero.com/errors/validation/field",
                                            "title": "Validation Error",
                                            "detail": "Fixed Asset Account Id is invalid"
                                        },
                                        {
                                            "fieldName": "DepreciationExpenseAccountId",
                                            "valueProvided": "",
                                            "localisedMessage": "Depreciation Expense Account Id is invalid",
                                            "type": "http://common.service.xero.com/errors/validation/field",
                                            "title": "Validation Error",
                                            "detail": "Depreciation Expense Account Id is invalid"
                                        }
                                    ],
                                    "type": "http://common.service.xero.com/errors/validation",
                                    "title": "The resource update failed validation.",
                                    "detail": "Validation Errors"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "a type already exists"
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "assets"
                        ]
                    }
                ],
                "x-example": [
                    {
                        "is_object": true,
                        "key": "bookDepreciationSetting",
                        "keyPascal": "BookDepreciationSetting",
                        "keySnake": "book_depreciation_setting"
                    },
                    {
                        "key": "depreciationMethod",
                        "keyPascal": "DepreciationMethod",
                        "keySnake": "depreciation_method",
                        "object": "bookDepreciationSetting",
                        "default": "DiminishingValue100"
                    },
                    {
                        "key": "averagingMethod",
                        "keyPascal": "AveragingMethod",
                        "keySnake": "averaging_method",
                        "object": "bookDepreciationSetting",
                        "default": "ActualDays"
                    },
                    {
                        "nonString": true,
                        "key": "depreciationRate",
                        "keyPascal": "DepreciationRate",
                        "keySnake": "deprecitation_rate",
                        "object": "bookDepreciationSetting",
                        "default": 40
                    },
                    {
                        "key": "depreciationCalculationMethod",
                        "keyPascal": "DepreciationCalculationMethod",
                        "keySnake": "depreciation_calculation_method",
                        "object": "bookDepreciationSetting",
                        "default": "None",
                        "is_last": true
                    },
                    {
                        "key": "assetType",
                        "keyPascal": "AssetType",
                        "keySnake": "asset_type",
                        "x-snake": "asset_type",
                        "is_object": true
                    },
                    {
                        "key": "assetTypeName",
                        "keyPascal": "AssetTypeName",
                        "keySnake": "asset_type_name",
                        "object": "assetType",
                        "default": "Computer Equipment"
                    },
                    {
                        "is_uuid": true,
                        "key": "fixedAssetAccountId",
                        "keyPascal": "FixedAssetAccountId",
                        "keySnake": "fixed_asset_account_id",
                        "object": "assetType",
                        "default": "00000000-0000-0000-0000-000000000000"
                    },
                    {
                        "is_uuid": true,
                        "key": "depreciationExpenseAccountId",
                        "keyPascal": "DepreciationExpenseAccountId",
                        "keySnake": "depreciation_expense_account_id",
                        "object": "assetType",
                        "default": "00000000-0000-0000-0000-000000000000"
                    },
                    {
                        "is_uuid": true,
                        "key": "accumulatedDepreciationAccountId",
                        "keyPascal": "AccumulatedDepreciationAccountId",
                        "keySnake": "accumulated_depreciation_account_id",
                        "object": "assetType",
                        "default": "00000000-0000-0000-0000-000000000000"
                    },
                    {
                        "is_last": true,
                        "is_variable": true,
                        "nonString": true,
                        "key": "bookDepreciationSetting",
                        "keyPascal": "BookDepreciationSetting",
                        "keySnake": "book_depreciation_setting",
                        "default": "bookDepreciationSetting",
                        "python": "book_depreciation_setting",
                        "ruby": "book_depreciation_setting",
                        "object": "assetType"
                    }
                ],
                "x-hasAssetsValidationError": true
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Settings": {
            "get": {
                "tags": [
                    "Asset"
                ],
                "summary": "searches fixed asset settings",
                "description": "By passing in the appropriate options, you can search for available fixed asset types in the system",
                "operationId": "getSettings",
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Setting"
                                },
                                "example": {
                                    "assetNumberPrefix": "FA-",
                                    "assetNumberSequence": "0007",
                                    "assetStartDate": "2016-01-01T00:00:00",
                                    "optInForTax": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "assets",
                            "assets.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "Pagination": {
                "properties": {
                    "page": {
                        "type": "integer",
                        "example": 1
                    },
                    "pageSize": {
                        "type": "integer",
                        "example": 10
                    },
                    "pageCount": {
                        "type": "integer",
                        "example": 1
                    },
                    "itemCount": {
                        "type": "integer",
                        "example": 2
                    }
                }
            },
            "AssetStatusQueryParam": {
                "type": "string",
                "description": "See Asset Status Codes",
                "example": "DRAFT",
                "enum": [
                    "DRAFT",
                    "REGISTERED",
                    "DISPOSED"
                ]
            },
            "BookDepreciationSetting": {
                "properties": {
                    "depreciationMethod": {
                        "type": "string",
                        "description": "The method of depreciation applied to this asset. See Depreciation Methods",
                        "example": "StraightLine",
                        "enum": [
                            "NoDepreciation",
                            "StraightLine",
                            "DiminishingValue100",
                            "DiminishingValue150",
                            "DiminishingValue200",
                            "FullDepreciation"
                        ]
                    },
                    "averagingMethod": {
                        "type": "string",
                        "description": "The method of averaging applied to this asset. See Averaging Methods",
                        "example": "ActualDays",
                        "enum": [
                            "FullMonth",
                            "ActualDays"
                        ]
                    },
                    "depreciationRate": {
                        "type": "number",
                        "description": "The rate of depreciation (e.g. 0.05)",
                        "format": "double",
                        "example": 0.05,
                        "x-is-money": true
                    },
                    "effectiveLifeYears": {
                        "type": "integer",
                        "description": "Effective life of the asset in years (e.g. 5)",
                        "example": 5
                    },
                    "depreciationCalculationMethod": {
                        "type": "string",
                        "description": "See Depreciation Calculation Methods",
                        "example": "None",
                        "enum": [
                            "Rate",
                            "Life",
                            "None"
                        ]
                    },
                    "depreciableObjectId": {
                        "type": "string",
                        "description": "Unique Xero identifier for the depreciable object",
                        "format": "uuid",
                        "example": "68f17094-af97-4f1b-b36b-013b45b6ad3c"
                    },
                    "depreciableObjectType": {
                        "type": "string",
                        "description": "The type of asset object",
                        "example": "Asset"
                    },
                    "bookEffectiveDateOfChangeId": {
                        "type": "string",
                        "description": "Unique Xero identifier for the effective date change",
                        "format": "uuid",
                        "example": "68f17094-af97-4f1b-b36b-013b45b6ad3c"
                    }
                }
            },
            "ResourceValidationErrorsElement": {
                "type": "object",
                "properties": {
                    "resourceName": {
                        "type": "string",
                        "description": "The field name of the erroneous field"
                    },
                    "detail": {
                        "type": "string",
                        "description": "Detail of the resource validation error"
                    },
                    "type": {
                        "type": "string",
                        "description": "Internal type of the resource error message"
                    },
                    "title": {
                        "type": "string",
                        "description": "Title of the resource validation error"
                    },
                    "localisedMessage": {
                        "type": "string",
                        "description": "Explanation of the resource validation error"
                    }
                },
                "externalDocs": {
                    "url": "https://developer.xero.com/documentation/api/http-response-codes"
                }
            },
            "AssetType": {
                "required": [
                    "assetTypeName",
                    "bookDepreciationSetting"
                ],
                "type": "object",
                "properties": {
                    "assetTypeId": {
                        "type": "string",
                        "description": "Xero generated unique identifier for asset types",
                        "format": "uuid",
                        "example": "5da209c5-5e19-4a43-b925-71b776c49ced"
                    },
                    "bookDepreciationSetting": {
                        "$ref": "#/components/schemas/BookDepreciationSetting"
                    },
                    "assetTypeName": {
                        "type": "string",
                        "description": "The name of the asset type",
                        "example": "Computer Equipment"
                    },
                    "depreciationExpenseAccountId": {
                        "type": "string",
                        "description": "The expense account for the depreciation of fixed assets of this type",
                        "format": "uuid",
                        "example": "b23fc79b-d66b-44b0-a240-e138e086fcbc"
                    },
                    "fixedAssetAccountId": {
                        "type": "string",
                        "description": "The asset account for fixed assets of this type",
                        "format": "uuid",
                        "example": "24e260f1-bfc4-4766-ad7f-8a8ce01de879"
                    },
                    "accumulatedDepreciationAccountId": {
                        "type": "string",
                        "description": "The account for accumulated depreciation of fixed assets of this type",
                        "format": "uuid",
                        "example": "ca4c6b39-4f4f-43e8-98da-5e1f350a6694"
                    },
                    "locks": {
                        "type": "integer",
                        "description": "All asset types that have accumulated depreciation for any assets that use them are deemed \u2018locked\u2019 and cannot be removed",
                        "example": 33
                    }
                },
                "x-snake": "asset_type"
            },
            "BookDepreciationDetail": {
                "properties": {
                    "currentCapitalGain": {
                        "type": "number",
                        "description": "When an asset is disposed, this will be the sell price minus the purchase price if a profit was made.",
                        "format": "double",
                        "example": 5.25,
                        "x-is-money": true
                    },
                    "currentGainLoss": {
                        "type": "number",
                        "description": "When an asset is disposed, this will be the lowest one of sell price or purchase price, minus the current book value.",
                        "format": "double",
                        "example": 10.5,
                        "x-is-money": true
                    },
                    "depreciationStartDate": {
                        "type": "string",
                        "description": "YYYY-MM-DD",
                        "format": "date"
                    },
                    "costLimit": {
                        "type": "number",
                        "description": "The value of the asset you want to depreciate, if this is less than the cost of the asset.",
                        "format": "double",
                        "example": 9000.0,
                        "x-is-money": true
                    },
                    "residualValue": {
                        "type": "number",
                        "description": "The value of the asset remaining when you've fully depreciated it.",
                        "format": "double",
                        "example": 10000.0,
                        "x-is-money": true
                    },
                    "priorAccumDepreciationAmount": {
                        "type": "number",
                        "description": "All depreciation prior to the current financial year.",
                        "format": "double",
                        "example": 0.45,
                        "x-is-money": true
                    },
                    "currentAccumDepreciationAmount": {
                        "type": "number",
                        "description": "All depreciation occurring in the current financial year.",
                        "format": "double",
                        "example": 5.0,
                        "x-is-money": true
                    },
                    "businessUseCapitalGain": {
                        "type": "number",
                        "description": "(New Zealand Orgs Only) The portion of capital gain realised from the disposal of a fixed asset that is attributable to its business use.",
                        "format": "decimal",
                        "x-is-money": true
                    },
                    "businessUseCurrentGainLoss": {
                        "type": "number",
                        "description": "(New Zealand Orgs Only) Represents the gain or loss from the disposal of the business use portion of a fixed asset. This value records the financial result (profit or loss) related specifically to the asset\u2019s business use.",
                        "format": "decimal",
                        "x-is-money": true
                    },
                    "privateUseCapitalGain": {
                        "type": "number",
                        "description": "(New Zealand Orgs Only) The portion of capital gain realised from the disposal of a fixed asset that is attributable to its private (non-business) use.",
                        "format": "decimal",
                        "x-is-money": true
                    },
                    "privateUseCurrentGainLoss": {
                        "type": "number",
                        "description": "(New Zealand Orgs Only) Represents the gain or loss from the disposal of the private use portion of a fixed asset. This value records the financial result (profit or loss) related specifically to the asset\u2019s private use.",
                        "format": "decimal",
                        "x-is-money": true
                    },
                    "initialDeductionPercentage": {
                        "type": "number",
                        "description": "(New Zealand Orgs Only) The Investment Boost deduction percentage.",
                        "format": "decimal"
                    }
                }
            },
            "Assets": {
                "type": "object",
                "properties": {
                    "pagination": {
                        "$ref": "#/components/schemas/Pagination"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Asset"
                        }
                    }
                }
            },
            "Setting": {
                "required": [
                    "name"
                ],
                "type": "object",
                "properties": {
                    "assetNumberPrefix": {
                        "type": "string",
                        "description": "The prefix used for fixed asset numbers (\u201cFA-\u201d by default)",
                        "example": "FA-"
                    },
                    "assetStartDate": {
                        "type": "string",
                        "description": "The date depreciation calculations started on registered fixed assets in Xero",
                        "format": "date"
                    },
                    "assetNumberSequence": {
                        "type": "string",
                        "description": "The next available sequence number",
                        "example": "0022"
                    },
                    "defaultGainOnDisposalAccountId": {
                        "type": "string",
                        "description": "Default account that gains are posted to",
                        "format": "uuid",
                        "example": "346ddb97-739a-4274-b43b-66aa3218d17c"
                    },
                    "lastDepreciationDate": {
                        "type": "string",
                        "description": "The last depreciation date",
                        "format": "date"
                    },
                    "defaultCapitalGainOnDisposalAccountId": {
                        "type": "string",
                        "description": "Default account that capital gains are posted to",
                        "format": "uuid",
                        "example": "6d6a0bdb-e118-45d8-a023-2ad617ec1cb7"
                    },
                    "defaultLossOnDisposalAccountId": {
                        "type": "string",
                        "description": "Default account that losses are posted to",
                        "format": "uuid",
                        "example": "1b798541-24e2-4855-9309-c023a0b576f3"
                    },
                    "optInForTax": {
                        "type": "boolean",
                        "description": "opt in for tax calculation",
                        "example": false
                    }
                }
            },
            "FieldValidationErrorsElement": {
                "type": "object",
                "properties": {
                    "fieldName": {
                        "type": "string",
                        "description": "The field name of the erroneous field"
                    },
                    "valueProvided": {
                        "type": "string",
                        "description": "The provided value"
                    },
                    "detail": {
                        "type": "string",
                        "description": "Detail of the field validation error"
                    },
                    "type": {
                        "type": "string",
                        "description": "Internal type of the field validation error message"
                    },
                    "title": {
                        "type": "string",
                        "description": "Title of the field validation error"
                    },
                    "localisedMessage": {
                        "type": "string",
                        "description": "Explanation of the field validation error"
                    }
                },
                "externalDocs": {
                    "url": "https://developer.xero.com/documentation/api/http-response-codes"
                }
            },
            "Asset": {
                "required": [
                    "assetName"
                ],
                "type": "object",
                "properties": {
                    "purchaseDate": {
                        "type": "string",
                        "description": "The date the asset was purchased YYYY-MM-DD",
                        "format": "date"
                    },
                    "serialNumber": {
                        "type": "string",
                        "description": "The asset's serial number",
                        "example": "ca4c6b39-4f4f-43e8-98da-5e1f350a6694"
                    },
                    "assetTypeId": {
                        "type": "string",
                        "description": "The Xero-generated Id for the asset type",
                        "format": "uuid",
                        "example": "3b5b3a38-5649-495f-87a1-14a4e5918634"
                    },
                    "purchasePrice": {
                        "type": "number",
                        "description": "The purchase price of the asset",
                        "format": "double",
                        "example": 1000.0,
                        "x-is-money": true
                    },
                    "isDeleteEnabledForDate": {
                        "type": "boolean",
                        "description": "Boolean to indicate whether delete is enabled",
                        "example": true
                    },
                    "assetNumber": {
                        "type": "string",
                        "description": "Must be unique",
                        "example": "FA-0013"
                    },
                    "bookDepreciationSetting": {
                        "$ref": "#/components/schemas/BookDepreciationSetting"
                    },
                    "warrantyExpiryDate": {
                        "type": "string",
                        "description": "The date the asset\u2019s warranty expires (if needed) YYYY-MM-DD",
                        "example": "ca4c6b39-4f4f-43e8-98da-5e1f350a6694"
                    },
                    "assetId": {
                        "type": "string",
                        "description": "The Xero-generated Id for the asset",
                        "format": "uuid",
                        "example": "3b5b3a38-5649-495f-87a1-14a4e5918634"
                    },
                    "accountingBookValue": {
                        "type": "number",
                        "description": "The accounting value of the asset",
                        "format": "double",
                        "example": 0,
                        "x-is-money": true
                    },
                    "disposalDate": {
                        "type": "string",
                        "description": "The date the asset was disposed",
                        "format": "date"
                    },
                    "canRollback": {
                        "type": "boolean",
                        "description": "Boolean to indicate whether depreciation can be rolled back for this asset individually. This is true if it doesn't have 'legacy' journal entries and if there is no lock period that would prevent this asset from rolling back",
                        "example": true
                    },
                    "assetName": {
                        "type": "string",
                        "description": "The name of the asset",
                        "example": "Awesome Truck 3"
                    },
                    "disposalPrice": {
                        "type": "number",
                        "description": "The price the asset was disposed at",
                        "format": "double",
                        "example": 1.0,
                        "x-is-money": true
                    },
                    "assetStatus": {
                        "$ref": "#/components/schemas/AssetStatus"
                    },
                    "bookDepreciationDetail": {
                        "$ref": "#/components/schemas/BookDepreciationDetail"
                    }
                }
            },
            "AssetStatus": {
                "type": "string",
                "description": "See Asset Status Codes",
                "example": "Draft",
                "enum": [
                    "Draft",
                    "Registered",
                    "Disposed"
                ]
            }
        },
        "parameters": {
            "requiredHeader": {
                "name": "xero-tenant-id",
                "in": "header",
                "description": "Xero identifier for Tenant",
                "required": true,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                },
                "example": "YOUR_XERO_TENANT_ID",
                "x-snake": "xero_tenant_id",
                "x-ballerina-name": "xeroTenantId"
            },
            "idempotencyKey": {
                "name": "Idempotency-Key",
                "in": "header",
                "description": "This allows you to safely retry requests without the risk of duplicate processing. 128 character max",
                "required": false,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                },
                "example": "KEY_VALUE",
                "x-snake": "idempotency_key",
                "x-ballerina-name": "idempotencyKey"
            }
        },
        "securitySchemes": {
            "OAuth2": {
                "type": "oauth2",
                "description": "For more information",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
                        "tokenUrl": "https://identity.xero.com/connect/token",
                        "scopes": {
                            "email": "Grant read-only access to your email",
                            "openid": "Grant read-only access to your open id",
                            "profile": "your profile information",
                            "assets": "Grant read-write access to fixed assets",
                            "assets.read": "Grant read-only access to fixed assets"
                        }
                    }
                }
            }
        }
    }
}